#substat {
    font-size: small;
}

#settings {
    border: 1px solid black;
    background: whitesmoke;
    position: fixed;
    box-sizing: padding-box;
    bottom: 4px;
    left: 4px;
    right: 4px;
    padding: 2px;
}